<script setup lang="ts">
import { ref } from "vue";
const Number1 = ref(0);
const Number2 = ref(0);

function incre() {
  Number1.value = Number1.value + 1;
  Number2.value = Number2.value + 2;
}

function de() {
  if (Number1.value == 0 && Number2.value == 0) {
    Number1.value = Number1.value - 0;
    Number2.value = Number2.value - 0;
  } else {
    Number1.value = Number1.value - 1;
    Number2.value = Number2.value - 2;
  }
}
</script>

<template>
  <v-container fluid>
    <v-row>
      <v-col><h4>FirstComponent</h4> </v-col>
      <v-col><h4>SecondComponent</h4> </v-col>
    </v-row>
    <v-row>
      <v-col
        ><h4>{{ Number1 }}</h4>
      </v-col>
      <v-col>
        <h4>{{ Number2 }}</h4>
      </v-col>
    </v-row>

    <v-row>
      <v-col> <v-btn @click="incre"> INCREMENT </v-btn> </v-col>
      <v-col> <v-btn @click="de"> DECREASE </v-btn> </v-col>
    </v-row></v-container
  >
</template>
