<script lang="ts" setup>
// import FirstComponent from "@/components/FirstComponent.vue";
import { ref, computed } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const List = ref<any>([]);

const addTable = (product: any) => {
  List.value.push(product);
};

const SumPrice = computed(() => {
  let SumP = 0;
  for (let i = 0; i < List.value.length; i += 1) {
    SumP += List.value[i].price;
  }
  return SumP;
});
</script>
<template>
  <v-row>
    <v-col>
      <v-container fluid style="height: 90vh; overflow-y: auto">
        <v-row>
          <v-col v-for="product in products" :key="product.id" cols="4">
            <v-card class="mx-auto">
              <v-card-item>
                <div class="text-center">
                  <div class="text-h6 mb-1">{{ product.name }}</div>
                  <div class="text-h6 mb-1 font-weight-regular">
                    {{ product.price }}
                  </div>
                </div>
                <v-card-actions class="justify-center">
                  <v-btn @click="addTable(product)"> ADD </v-btn>
                </v-card-actions>
              </v-card-item>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-col>

    <v-col>
      <v-container fluid style="height: 70vh; overflow-y: auto">
        <v-row
          ><table id="persons">
            <thead>
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </thead>
            <tr v-for="item in List" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
            <tr>
              <td
                colspan="5"
                style="text-align: center"
                v-if="List.length === 0"
              >
                No Data
              </td>
            </tr>
          </table>
        </v-row>
      </v-container>
      <br />
      <v-row align="end">
        <div class="text-h2">Sum: {{ SumPrice }}</div>
      </v-row>
    </v-col>
  </v-row>
</template>
<style>
#persons {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#persons td,
#persons th {
  border: 1px solid #ddd;
  padding: 8px;
}

#persons th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
</style>
