<script lang="ts" setup>
import { ref } from "vue";
const pic = ref("feeling_imgs/smile.png");
const text = ref("Smile");
const check = ref(0);

function pic_And_text1() {
  pic.value = "feeling_imgs/angry.png";
  text.value = "Angry";
  check.value = 1;
}
function pic_And_text2() {
  pic.value = "feeling_imgs/cute.png";
  text.value = "Cute";
  check.value = 2;
}
function pic_And_text3() {
  pic.value = "feeling_imgs/excited.png";
  text.value = "Excited";
  check.value = 3;
}
function pic_And_text4() {
  pic.value = "feeling_imgs/pain.png";
  text.value = "Pain";
  check.value = 4;
}
function pic_And_text5() {
  pic.value = "feeling_imgs/shocked.png";
  text.value = "Shocked";
  check.value = 5;
}
function pic_And_text6() {
  pic.value = "feeling_imgs/smile.png";
  text.value = "Smile";
  check.value = 6;
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img class="bg-white" width="400" :src="pic"></v-img>
      </v-col>
      <v-col>
        <h1 class="text-center">{{ text }}</h1>
        <br />
        <v-btn
          block
          width="600px"
          :class="{ color: check == 1 }"
          @click="pic_And_text1"
        >
          ANGRY
        </v-btn>
        <br />
        <v-btn
          block
          width="600px"
          :class="{ color: check == 2 }"
          @click="pic_And_text2"
        >
          CUTE
        </v-btn>
        <br />
        <v-btn
          block
          width="600px"
          :class="{ color: check == 3 }"
          @click="pic_And_text3"
        >
          EXCITED
        </v-btn>
        <br />
        <v-btn
          block
          width="600px"
          :class="{ color: check == 4 }"
          @click="pic_And_text4"
        >
          PAIN
        </v-btn>
        <br />
        <v-btn
          block
          width="600px"
          :class="{ color: check == 5 }"
          @click="pic_And_text5"
        >
          SHOCKED
        </v-btn>
        <br />
        <v-btn
          block
          width="600px"
          :class="{ color: check == 6 }"
          @click="pic_And_text6"
        >
          SMILE
        </v-btn>
        <br />
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.color {
  background-color: yellow;
}
</style>
