<script lang="ts" setup>
import { ref } from "vue";
const inputNum = ref(0);
</script>

<template>
  <v-container fluid>
    <v-text-field
      v-model.number="inputNum"
      label="Please Input Number"
      :rules="[(v) => !!v || 'Number is not empty!!']"
    >
    </v-text-field>
  </v-container>
  <v-container fluid style="height: 75vh; overflow-y: auto">
    <v-row>
      <v-col v-for="(item, index) in inputNum" :key="index" cols="1">
        <div class="pa-md-4 mx-lg-auto">{{ item }}</div>
      </v-col>
    </v-row>
  </v-container>
</template>
