<script setup lang="ts">
// const props = withDefaults(
//   defineProps<{
//     id: number;
//     name: string;
//     price: number;
//   }>(),
//   {
//     price: (Math.floor(Math.random() * 100) + 1) * 10,
//   }
// );

// const emits = defineEmits<{
//   (e: "add", id: number, name: string, price: number): void;
// }>();
</script>
<template>
  <div>
    <!-- <v-card class="mx-auto">
    <v-card-item>
      <div class="text-center">
        <div class="text-h6 mb-1">{{ props.name }}</div>
        <div class="text-h6 mb-1 font-weight-regular">{{ props.price }}</div>
      </div>
      <v-card-actions class="justify-center">
        <v-btn> ADD </v-btn>
      </v-card-actions>
    </v-card-item>
  </v-card> -->
  </div>
</template>
